.navbar { margin-bottom:0px !important; }

.stylenav {
  background-color: ;
  font-family: 'Gloria Hallelujah', cursive;
}

.clear {
  float: left;
  padding-top: 20px;

}

.email {
  float: left;
  padding-left: 100px;
}

.text {
  padding-left: 70px;
  padding-right:20px;
}

.form {
  padding-top: 20px;
}

.subit {
  padding-left: 170px;
}

.links {
  color: black;
  float:right;
  position: relative;
  bottom: 35px;
  padding-right: 40px;
  font-size: 40px;

}

.balloon {
  width: 100%;
  height: 400px;
}

/* body */

.text {
  float:left;
  padding-left: 40px;
}
 .pad {
   padding-top: 50px;
 }

 .twitter {
   float: right;
   padding-top: 40px;
   padding-right: 45px;
 }
